/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #EEEBDD;
}

/* UTILIDADES */
.dark-red{
    color: #630000;
    font-size: 3rem;
    padding: 3rem 0;
}
.bold {
    font-weight: 800;
}
.right {
    text-align: right;
}
.contenedor { /* Lo utilizo para separar el contenido del borde del navegador */
    width: 90%;
    max-width: 150rem;
    margin: 0 auto;
}
.btn {
    text-decoration: none;
    border: 2px solid #630000; 
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer; 
    font-size: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}
.btn-principal{
    background-color: #630000;
    color: #EEEBDD;
}
.btn-principal:hover{
    background-color: #EEEBDD;
    color: #630000;
    border: 2px solid #630000;
    transition: .7s all;
}
.detalles h3 {
    color: #810000;
    font-size: 2rem;
    margin: 1rem 0 .3rem 0;
}
.detalles p{
    color: #1B1717;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.2rem;
}
.input {
    background-color: #EEEBDD;
    color: #1B1717;
    border: 2px solid #810000;
    border-radius: 1rem;
    width: 50%;
    font-size: 1.5rem;
    padding: 5px;
    width: 100%;
}
@media (min-width: 768px){
    .contenedor { 
        width: 95%;
    }
}

/* SECCION HEADER */
header {
    padding: 1rem;
    background-color: #1B1717;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header#header { /* Hago que la página principal tenga fondo de imagen pero sin modificar las demás páginas */
    background-color: transparent;
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
header#header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header#header h1 {
    text-align: center;
    color: #EEEBDD;
    font-weight: 300;
    font-size: 5rem;
}
#logo{
    width: 20%;
}
#logo img { /* Hacemos que la imagén se adapte al tamaño del padre */
    width: 100%;
    height: 100%;
}
#activo {
    border-bottom: .3rem solid #EEEBDD;
}

/* ----- ICONO DE MENU ----- */
.bar1, .bar2, .bar3 {
    width: 45px;
    height: 7px;
    background-color: #630000;
    margin: 6px 0;
    transition: .4s;
}
/* MOVIMIENTO DE ICONO MENU */
.menuHamburguesa.is-active .bar1{
    transform: translateY(150%) rotate(45deg);
}
.menuHamburguesa.is-active .bar2{
    opacity: 0;
}
.menuHamburguesa.is-active .bar3{
    transform: translateY(-230%) rotate(135deg);
}

/* ----- MENU NAVEGACION ----- */
.navegacion {
    list-style: none;
    transform: translate(0px, -150%);
    transition: transform 1s;
}
.navegacion.is_active {
    transform: translate(0px, 0px);
    transition: transform 1s;
}
.navegacion li a{
    text-decoration: none; 
    color: #810000;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5rem;
}
@media (max-width: 768px){ /* Creamos un mq únicamente para la navegacion */
    .navegacion {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
        background-color: rgba(27, 23, 23, .8);
    }
}

@media (min-width: 768px){ /* Media Querie general para el header */
    #logo {
        width: 10%;
    }
    .menuHamburguesa {
        display: none; /* Escondemos el ícono de menu */
    }
    .navegacion {
        transform: translate(0px, 0px); /* Reseteamos la posición */
        display: flex;
    }
    .navegacion li a {
        margin-right: 5rem;
        font-size: 2.3rem;
    }
    .navegacion li:nth-child(5) a {
        margin-right: 0rem;
    }
}


/* SECCION FOOTER */
footer {
    background-color: #1B1717;
    color: #EEEBDD;
    padding: 2rem;
    margin-top: 1rem; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 1rem;
}
footer p{
    font-size: 1.5rem;
    font-style: italic;
}
footer a{
    text-decoration: none;
    color: #630000;
    font-size: 2rem;
}
@media (min-width: 468px){
    footer {
        padding: 2rem;
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ---------- PÁGINA INICIO ---------- */

/* NOVEDADES */
.novedades {
    display: block;
}
.novedades div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.novedades>article {
    display: none;
}
.producto-novedades a img{
    border-radius: 2rem;
    border: 1px outset #1B1717;
    box-shadow: 5px 4px 13px -3px rgba(27,23,23,0.81); 
}

@media (min-width: 768px){ /* Media Querie general para la seccion novedades */
    .novedades {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem; 
    }
    .novedades>article {
        display: block; /* Mostramos este articulo solo en pantallas grandes */
    }
}

/* NEWSLETTERS */
.newsletter {
    background-image: url('../img/parallax.jpg');
    min-height: 42rem;
    background-attachment: fixed; /* Creamos efecto parallax */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.newsletter div h2{
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px #1B1717; 
}
.form-newsletter {
    text-align: center;
    border-radius: 2rem;
    margin: auto;
    padding: 1rem;
    background-color: rgba(238, 235, 221, .7);
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
}
.form-newsletter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.form-newsletter div label {
    font-size: 2rem;
    color: #1B1717;
}

@media (min-width: 768px){ /* Media Querie general para la seccion newsletter */
    .newsletter div h2 {
        font-size: 4rem;
    }
    .form-newsletter {
        width: 60%;
        padding: 2rem;
        margin-bottom: 2rem;
    }
}

/* CONOCENOS */
.seccion-conocenos{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}
.seccion-conocenos a img {
    height: 250px;
    width: auto;
    border-radius: 1rem;
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
    margin-bottom: 1rem;
}
div#detalles-conocenos h3{
    margin-bottom: .5rem;
}
div#detalles-conocenos p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

@media (min-width: 468px){ /* Media Querie general para la seccion conocenos */
    .seccion-conocenos a img {
        height: 300px;
    }
}
@media (min-width: 768px){ 
    .seccion-conocenos a img {
        height: 400px;
    }
    div#detalles-conocenos h3{
        margin-bottom: 2rem;
    }
}

/* ---------- PÁGINA PRODUCTOS ---------- */

/* PRODUCTOS */
.productos {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2rem;
}
.productos>div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.productos>div .detalles {
    max-width: 70rem; /* Establecemos un tamaño horizontal máximo */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}

.productos>div .detalles h3{
    grid-area: 1 / 1 / 1 / 4;
}
.productos>div .detalles p {
    grid-area: 2 / 1 / 2 / 4;
}
.productos>div .detalles a {
    grid-area: 3 / 3 / 3 / 4;
}


/* ---------- PÁGINA SERVICIOS ---------- */

/* SERVICIOS */
.service {
    margin: 2rem auto;
}
.form-service {
    width: 30rem;
    margin: 3rem auto;
}
.form-service div {
    margin: 1rem 0;
}
.form-service>div>label {
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 700;
}
div#detalle-service div label {
    font-size: 1.5rem;
    margin-right: .5rem;
}
.form-service div#type-service {
    display: flex;
    flex-direction: column;
}
.form-service div#type-service div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
div.right input {
    width: 20%;
}
div.detalles#other-service {
    margin-bottom: 5rem;
}
div.detalles#other-service p {
    margin-bottom: 2rem;
}

/* ---------- PÁGINA NOSOTROS ---------- */

/* NOSOTROS */
.nosotros {
    display: flex;
    justify-content: space-evenly;
    margin: 12rem 0;
}
.nosotros img {
    border-radius: 2rem;
}
.nosotros>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nosotros>div #detalle-nosotros {
    display: flex;
    justify-content: space-evenly;
}
.nosotros>div>div.detalles{
    text-align: center;
}

/* ---------- PÁGINA CONTACTO ---------- */

/* CONTACTO */
.contacto {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.detalle-contacto {
    min-height: 600px;
    min-width: 500px;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
}
.form-contact {
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
    padding: 3rem;
    border-radius: 2rem;
    min-height: 600px;
    min-width: 500px;
    margin: 3rem 0;
}
.form-contact legend {
    font-size: 2rem;
    color: #630000;
}
.form-contact>div {
    margin-bottom: 2rem;
}
.form-contact>div>label {
    font-size: 1.5rem;
    margin-right: 2rem;
}
