:root { /* Definimos variables */
    --colorPrimario: #D72323;
    --colorPrimarioLight: #3A4750;
    --colorSecundario: #EEEEEE;
    --colorTerciario: #303841;
    /* Colores */
    /* --colorPrimario: #630000;
    --colorPrimarioLight: #810000;
    --colorSecundario: #EEEBDD;
    --colorTerciario: #1B1717; */
    /* Letras */
    --textoSmall: 1.2rem;
    --textoMedium: 1.5rem;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--colorSecundario);
}

/* UTILIDADES */
.dark-red{
    color: var(--colorPrimario);
    font-size: 2.5rem;
    padding: 3rem 0;
}
.bold {
    font-weight: 800;
}
.right {
    text-align: right;
}
.contenedor { /* Lo utilizo para separar el contenido del borde del navegador */
    width: 90%;
    max-width: 150rem;
    margin: 0 auto;
}
.btn {
    text-decoration: none;
    border: 2px solid var(--colorPrimario); 
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer; 
    font-size: var(--textoSmall);
    border-radius: 1rem;
    text-align: center;
}
.btn-principal{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
}
.btn-principal:hover{
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    border: 2px solid var(--colorPrimario);
    transition: .7s all;
}
.detalles h3 {
    color: var(--colorPrimarioLight);
    font-size: 1.8rem;
    margin: 1rem 0 .3rem 0;
}
.detalles p{
    color: var(--colorTerciario);
    font-size: var(--textoSmall);
    margin-bottom: 1rem;
    line-height: 2rem;
}
.input {
    background-color: var(--colorSecundario);
    color: var(--colorTerciario);
    border: 2px solid var(--colorPrimarioLight);
    border-radius: 1rem;
    width: 50%;
    font-size: var(--textoMedium);
    padding: 5px;
    width: 100%;
}
@media (min-width: 468px){
    .btn {
        padding: 1.2rem;
        font-size: var(--textoMedium);
    }
    .detalles h3 {
        font-size: 1.9rem;
    }
    .detalles p{
        font-size: var(--textoMedium);
    }
}
@media (min-width: 768px){
    .dark-red {
        font-size: 3rem;
    }
    .contenedor { 
        width: 95%;
    }
    .btn {
        margin-bottom: 2rem;
    }
    .detalles h3 {
        font-size: 2rem;
    }
    .detalles p{
        margin-bottom: 1rem;
        line-height: 2.2rem;
    }
}

/* SECCION HEADER */
header {
    padding: 2rem;
    background-color: var(--colorTerciario);
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header#header { /* Hacemos que la página principal tenga fondo de imagen pero sin modificar las demás páginas */
    background-color: transparent;
    background-image: url('../img/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
header#header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header#header h1 {
    text-align: center;
    color: var(--colorSecundario);
    font-weight: 300;
    font-size: 5rem;
}
#logo{
    width: 15%;
}
#logo img { /* Hacemos que la imagén se adapte al tamaño del padre */
    width: 100%;
    height: 100%;
}
#activo {
    border-bottom: .3rem solid var(--colorSecundario);
}

/* ----- ICONO DE MENU ----- */
.bar1, .bar2, .bar3 {
    width: 45px;
    height: 7px;
    background-color: var(--colorPrimario);
    margin: 6px 0;
    transition: .4s;
}
/* MOVIMIENTO DE ICONO MENU */
.menuHamburguesa.is-active .bar1{
    transform: translateY(150%) rotate(45deg);
}
.menuHamburguesa.is-active .bar2{
    opacity: 0;
}
.menuHamburguesa.is-active .bar3{
    transform: translateY(-230%) rotate(135deg);
}

/* ----- MENU NAVEGACION ----- */
.navegacion {
    list-style: none;
    transform: translate(0px, -150%);
    transition: transform 1s;
}
.navegacion.is_active {
    transform: translate(0px, 0px);
    transition: transform 1s;
}
.navegacion li a{
    text-decoration: none; 
    color: var(--colorPrimario);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5rem;
}
@media (max-width: 768px){ /* Creamos un mq únicamente para la navegacion */
    .navegacion {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
        background-color: rgba(27, 23, 23, .9);
    }
}

@media (min-width: 768px){ /* Media Querie general para el header */
    #logo {
        width: 10%;
        transition: all 1s;
    }
    #logo:hover{
        transform: scale(1.2);
    }
    .menuHamburguesa {
        display: none; /* Escondemos el ícono de menu */
    }
    .navegacion {
        transform: translate(0px, 0px); /* Reseteamos la posición */
        display: flex;
    }
    .navegacion li a {
        margin-right: 5rem;
        transition: all .5s;
    }
    .navegacion li a:hover{
        color: var(--colorSecundario);
    }
    .navegacion li:nth-child(5) a {
        margin-right: 0rem;
    }
}
@media (min-width: 1024px){
    #logo {
        width: 8%;
    }
    .navegacion li a {
        margin-right: 5rem;
        font-size: 2.3rem;
    }
}


/* SECCION FOOTER */
footer {
    background: var(--colorTerciario);
    color: var(--colorSecundario);
    padding: 2rem;
    margin-top: 1rem; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 2rem;
}
footer p{
    font-size: var(--textoSmall);
    font-style: italic;
}
footer>a{
    text-decoration: none;
    color: var(--colorPrimario);
    font-size: 2rem;
}
.redes {
    display: flex;
    align-items: center;
}
.redes a {
    font-size: 2.5rem;
    color: var(--colorSecundario);
    margin-left: 1.5rem;
    transition: all .5s;
}

@media (min-width: 468px){
    footer {
        padding: 2rem;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (min-width: 768px){
    footer {
        padding: 2rem;
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
    footer p{
        font-size: var(--textoMedium);
    }
    .redes a{
        font-size: 3rem;
    }
    .redes a:hover {
        color: #79776e;
        transform: translateY(-5px);
    }
}

/* ---------- PÁGINA INICIO ---------- */

/* NOVEDADES */
.novedades {
    display: block;
}
.novedades div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.novedades>article {
    display: none;
}
.producto-novedades a img{
    border-radius: 2rem;
    border: 1px outset var(--colorTerciario);
    box-shadow: 5px 4px 13px -3px rgba(27,23,23,0.81); 
}

@media (min-width: 768px){ /* Media Querie general para la seccion novedades */
    .novedades {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem; 
    }
    .novedades>article {
        display: block; /* Mostramos este articulo solo en pantallas grandes */
    }
    .producto-novedades a img{
        transition: transform .5s;
    }
    .producto-novedades a img:hover {
        transform: scale(1.1);
    }
}

/* NEWSLETTERS */
.newsletter {
    background-image: url('../img/parallax2.jpg');
    min-height: 42rem;
    background-attachment: fixed; /* Creamos efecto parallax */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.newsletter div h2{
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    color: var(--colorPrimario);
    text-shadow: 2px 2px 2px var(--colorTerciario); 
}
.form-newsletter {
    text-align: center;
    border-radius: 2rem;
    margin: auto;
    padding: 1rem;
    background-color: #eeeeeee0;
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
}
.form-newsletter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.form-newsletter div label {
    font-size: 2rem;
    color: var(--colorTerciario);
}

@media (min-width: 768px){ /* Media Querie general para la seccion newsletter */
    .newsletter div h2 {
        font-size: 4rem;
    }
    .form-newsletter {
        width: 60%;
        padding: 2rem;
        margin-bottom: 2rem;
    }
}

/* CONOCENOS */
.seccion-conocenos{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}
.seccion-conocenos a img {
    height: 250px;
    width: auto;
    border-radius: 1rem;
    box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
    margin-bottom: 1rem;
}
div#detalles-conocenos h3{
    margin-bottom: .5rem;
}
div#detalles-conocenos p{
    font-size: var(--textoSmall);
    margin-bottom: 3rem;
}

@media (min-width: 468px){ /* Media Querie general para la seccion conocenos */
    .seccion-conocenos a img {
        height: 300px;
    }
}
@media (min-width: 768px){ 
    .seccion-conocenos a img {
        height: 400px;
        transition: transform .5s;
    }
    .seccion-conocenos a img:hover {
        transform: scale(1.1);
    }
    div#detalles-conocenos p{
        font-size: var(--textoMedium);
    }
    div#detalles-conocenos h3{
        margin-bottom: 2rem;
    }
}

/* ---------- PÁGINA PRODUCTOS ---------- */

/* PRODUCTOS */
.productos {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2rem;
}
.detalle-producto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    justify-items: center;
    align-items: center;
}
.detalle-producto .detalles {
    max-width: 70rem; /* Establecemos un tamaño horizontal máximo */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}
.img-producto>a>img {
    border-radius: 2rem;
    width: 150px;
    height: auto;
}

.detalle-producto .detalles h3{
    grid-area: 1 / 1 / 1 / 4;
}
.detalle-producto .detalles p {
    grid-area: 2 / 1 / 2 / 4;
}
.detalle-producto .detalles a {
    grid-area: 3 / 1 / 3 / 4;
}

@media (min-width: 768px){ /* Media Querie general para la pagina productos */
    .img-producto>a>img {
        width: 200px;
    }
    .detalle-producto .detalles a {
        grid-area: 3 / 3 / 3 / 4;
    }
}


/* ---------- PÁGINA SERVICIOS ---------- */

/* SERVICIOS */
.service {
    margin: 2rem auto;
}
.form-service {
    width: 30rem;
    margin: 3rem auto;
}
.form-service div {
    margin: 1rem 0;
}
.form-service>div>label {
    font-size: var(--textoSmall);
    margin-right: 2rem;
    font-weight: 700;
}
div#detalle-service div label {
    font-size: var(--textoSmall);
    margin-right: .5rem;
}
.form-service div#type-service {
    display: flex;
    flex-direction: column;
}
.form-service div#type-service div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
div.right input {
    width: 100%;
}
div.detalles#other-service {
    margin-bottom: 5rem;
}
div.detalles#other-service p {
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .form-service>div>label {
        font-size: var(--textoMedium);
    }
    div#detalle-service div label {
        font-size: var(--textoMedium);
    }
    div.right input {
        width: 40%;
    }
}

/* ---------- PÁGINA NOSOTROS ---------- */

/* NOSOTROS */
.nosotros {
    display: flex;
    justify-content: space-evenly;
    margin: 12rem 0;
}
.nosotros img {
    display: none;
}
.nosotros>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
}
.nosotros>div #detalle-nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}
.nosotros>div>div.detalles{
    text-align: center;
}

@media (min-width: 768px){
    .nosotros>div #detalle-nosotros {
        flex-direction: row;
        column-gap: 3rem;
    }
}
@media (min-width: 1024px){
    .nosotros img {
        border-radius: 2rem;
        display: block;
    }
}

/* ---------- PÁGINA CONTACTO ---------- */

/* CONTACTO */
.contacto {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.detalle-contacto {
    min-height: 600px;
    min-width: 400px;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.form-contact {
    padding: 3rem;
    border-radius: 2rem;
    min-height: 600px;
    min-width: 400px;
    margin: 3rem 0;
}
.form-contact legend {
    font-size: 2rem;
    color: var(--colorTerciario);
}
.form-contact>div {
    margin-bottom: 2rem;
}
.form-contact>div>label {
    font-size: var(--textoSmall);
    margin-right: 2rem;
    font-weight: bold;
}
@media (min-width: 768px){
    .form-contact>div>label {
        font-size: var(--textoMedium);
    }
    .detalle-contacto,
    .form-contact {
        min-width: 500px;
        box-shadow: 5px 10px 13px -3px rgba(27,23,23,0.81);
    }
}
@media (min-width: 1024px){
    .contacto {
        flex-direction: row;
    }
}