/* ---------- PÃGINA CONTACTO ---------- */
/* ----- CONTACTO ----- */
.contacto {
    @include flex(true, column, space-evenly);
    margin: 0 auto 3rem auto;
    &-detalle {
        @include flex(true, column, space-evenly);
        text-align: center;
    }
}
.form-contact {
    border: none;
    margin-top: 5rem;
    h2 {
        font-size: 2rem;
        margin-bottom: 4rem;
        color: $color-terciario;
        text-align: center;
    }
    > div {
        margin-bottom: 2rem;
        select {
            border-radius: 2rem;
            border: 2px solid $color-primario;
            background-color: $color-secundario;
            color: $color-terciario;
        }
        > label {
            font-size: $txt-small;
            margin-right: 2rem;
            font-weight: 700;
        }
    }
}
.form-contact,
.contacto-detalle {
    @include box-form();
}

/* Media Queries */
@media (min-width: 768px){
    .form-contact>div>label {
        font-size: $txt-Medium;
    }
}
@media (min-width: 1024px){
    .form-contact {
        margin: 0;
    }
    .contacto {
        flex-direction: row;
    }
}