/* ---------- PÃGINA CONTACTO ---------- */
/* ----- CONTACTO ----- */
.contacto {
    @include flex(true, column, space-evenly);
    margin: 1rem auto;
    &-detalle {
        @include border(black);
        @include flex(true, column, space-evenly);
        min-height: 400px;
        min-width: 300px;
        padding: 3rem;
        border-radius: 2rem;
        text-align: center;
    }
}
.form-contact {
    padding: 3rem;
    border-radius: 2rem;
    min-height: 400px;
    min-width: 300px;
    margin: 3rem 0;
    legend {
        font-size: 2rem;
        color: $color-terciario;
    }
    > div {
        margin-bottom: 2rem;
        > label {
            font-size: $txt-small;
            margin-right: 2rem;
            font-weight: 700;
        }
    }
}

/* Media Queries */
@media (min-width: 468px){
    .contacto-detalle,
    .form-contact {
        min-width: 400px;
        min-height: 500px;
    }
}
@media (min-width: 768px){
    .form-contact>div>label {
        font-size: $txt-Medium;
    }
    .contacto-detalle,
    .form-contact {
        min-width: 500px;
        min-height: 600px;
        box-shadow: $shadow;
    }
}
@media (min-width: 1024px){
    .contacto {
        flex-direction: row;
    }
}