/* ---------- PÃGINA SERVICIOS ---------- */
/* ----- SERVICIOS ----- */
.service {
    margin: 2rem auto;
}
.form-service {
    width: 30rem;
    margin: 3rem auto;
    div {
        margin: 1rem 0;
        &#type-service {
            @include flex(true, column, $align: flex-start);
            div {
                @include flex(true, row, space-evenly) 
            }
        }
    }
    > div > label {
        font-size: $txt-small;
        margin-right: 2rem;
        font-weight: 700;
    }
}
div.right input {
    width: 100%;
}
div.detalles#other-service{
    margin-bottom: 5rem;
    p {
        margin-bottom: 2rem;
    }
}

/* Media Queries */
@media (min-width: 768px){
    .form-service > div > label,
    div#detalle-service div label {
        font-size: $txt-Medium;
    }
    div.right input {
        width: 40%;
    }
}