/* ---------- PÃGINA SERVICIOS ---------- */
/* ----- SERVICIOS ----- */
.form-service {
    @include box-form();
    width: 30rem;
    margin: 5rem auto;
    div {
        margin: 1rem 0;
        &#type-service {
            @include flex(true, column, $align: flex-start);
            > div {
                width: 100%;
                @include flex(true, row, space-evenly);
                > div {
                    margin-right: 1.8rem;
                    > label {
                        font-size: $txt-small;
                    }
                }
            }
        }
    }
    select {
        border-radius: 2rem;
        border: 2px solid $color-primario;
        background-color: $color-secundario;
        color: $color-terciario;
    }
    > div > label {
        font-size: $txt-small;
        margin-right: 2rem;
        font-weight: 700;
    }
}
div.right input {
    width: 100%;
}
div.detalles#other-service{
    margin-bottom: 5rem;
    p {
        margin-bottom: 2rem;
    }
}

/* Media Queries */
@media (min-width: 768px){
    .form-service > div > label,
    div#detalle-service div label {
        font-size: $txt-Medium;
    }
    div.right input {
        width: 40%;
    }
}