// ---------- VARIABLES ---------- 
// Colores
$color-primario: #D72323;
$color-secundario: #EEEEEE;
$color-terciario: #303841;
$color-terciario-light: #3A4750;
// Tamaños 
$txt-small: 1.2rem;
$txt-Medium: $txt-small*1.2;
// Tipografía
$font: 'Roboto', sans-serif;
// Shadows
$shadow: 5px 4px 13px -3px rgba(27,23,23,0.81);
$txt-shadow: 2px 2px 2px $color-terciario;